/* Aumentando o tamanho do labirinto */
#maze {
    font-size: 3vw;
    line-height: 3.0vw;
}

.piscar {
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
